.user-point-top-0 .user-box-inner{
    background-color: #FFD700;
}

.user-point-top-1 .user-box-inner{
    background-color: #E6E8FA;
}

.user-point-top-2 .user-box-inner{
    background-color: #B5A642;
}
